body {
  color: #454545;
  /* color: #EEEEEE; */
  /* background: #454545; */
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  line-height: 1.7;
}
h1, h2, h3 {
  font-family: 'Merriweather Sans', sans-serif;
}
a {
  color: #07a
}
.container {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 40rem;
  margin: auto;
}
.image-preview {
  display: block;
  margin: auto;
  height: 18rem;
}
.hero-image {
  width: 100%;
  /* height: 15rem; */
  object-fit: cover;
}
h2 {
  border-bottom: 1px solid #EEEEEE;
}
