body {
  color: #222;
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
  line-height: 1.7;
}
h1,
h2,
h3 {
  font-family: "Lora", serif;
}
a {
  color: #d100d1;
}
main {
  max-width: 40rem;
  padding: 0 2rem;
  margin: auto;
}
address {
  font-style: normal;
}
.links > * {
  margin-bottom: 0.6em;
}
.contents li {
  margin-bottom: 0.6em;
}
.section-heading {
  border-bottom: 2px solid #222;
}
.hero-image {
  width: 100%;
  object-fit: cover;
}
