body {
  color: #454545;
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;
  line-height: 1.7;
}
h1, h2, h3 {
  font-family: 'Merriweather Sans', sans-serif;
}
h2 {
  border-bottom: 1px solid #EEEEEE;
}
a {
  color: #07a
}
.container {
  padding-left: 5px;
  padding-right: 5px;
  max-width: 40rem;
  margin: auto;
}
.image-preview {
  display: block;
  margin: auto;
  width: 60%;
}
.hero-image {
  width: 100%;
  object-fit: cover;
}
#projects ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
